@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Work+Sans:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;1,500&display=swap');

@import "./node_modules/react-vis/dist/style";

body * {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Work Sans', sans-serif;
  background-color: rgb(0,0,0,0.025);
}

h1,h2,h3,h4,h5,h6,p {
  margin-bottom: 30px;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
  color: #32bebe;
  font-family: 'Exo', 'Roboto', sans-serif;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

h1 a {
  color: #32bebe;
}

.navBar {
  height: 70px;
  // margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo-container {
  margin-left: 25px;
  display: flex;
  align-items: center;
  align-content: center;
}

.logo-container img {
  height: 20px;
}

.logo-container h2 {
  font-size: 16px;
  color: #32bebe;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  // font-weight: bold;
  // font-family: 'Fredoka One', 'Roboto', sans-serif;
  font-family: 'Exo', 'Roboto', sans-serif;
  font-weight: medium;
  font-style: italic;
  
}

.nav-links {
  display: flex;
  align-items: center;
}

.navItem {
  font-size: 12px;
  color: #32bebe;
  list-style-type: none;
  text-decoration: none;
  margin: 5px 8px;
}

.home-image {
  width: 100%;
}

.welcome-message {
  position: fixed;
  left: 43%;
  top: 30%;
  z-index: 3;
  font-size: 40px;
  color: white;
}

#map-container {
  width: 800px;
  height: 600px;
}

#map-container canvas:focus{
  outline: none;
}

.info-container {
  width: 100vw;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
}

.map-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.table-container {
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.pie-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolTip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.page-background {
  display: flex;
  justify-content: center;
  // position: absolute;
  z-index: -1;
  // width: 10000px;
  // height: 3000px;
  // background-image: linear-gradient(rgb(189, 211, 211), rgb(202, 202, 202));
  // background-color: rgb(166, 233, 255);
}

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // width: 1200px;
  margin: 30px auto;
}

.container-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  // width: 1000px;
}

.container-right-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.circuitInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  // margin: 0px auto;
  margin-bottom: 50px;
  // width: 800px;
}

.circuit-info-text {
  // border: 2px solid;
  flex-grow: 3;
}

.circuit-info-text > h1 {
  font-size: 28px;
}


.location {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.circuit-flag {
  // height: 250px;
  // width: 100px;
  background-size: auto;
  flex-grow: 2;
  margin: auto 10px auto 0;
  // margin-top: 100px;
  box-shadow: 2px 2px 1px rgb(0,0,0,0.05);
  // border-radius: 10px;
}

.circuit-image-container {
  width: 100%;
  max-width: 600px;
}

.circuit-image {
  width: 95vw;
  max-width: 600px;

}

.seasons-title {
  margin: 10px;
  font-size: 20px;
  color: #32bebe;
}

.tag-container {
  display: flex;
  justify-content: center;
  // height: 200px;
  // border: 1px solid;
  width: 100vw;
  max-width: 600px;
  margin-bottom: 30px;
}

.tag-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // border: 1px solid blue;
  // width: 850px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  color: white;
  background-color: rgb(50, 190, 190);
  width: 80px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgb(0,0,0,0.1);
}

.tag:hover {
  background-color: rgb(4, 246, 246);
  cursor: pointer;
}

table {
  
}

// table > thead > tr > th:first-child{
//   width: 100px;
// }

th {
  text-align: left;
  font-weight: bold;
}

tr > th,
tr > td {
  padding: 8px;
  font-size: 14px;
  background-color: rgb(0,0,0,0.025);
  border-bottom: rgb(0,0,0,0.035)
}

.markerInner {
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.markerInner p {
  margin-bottom: 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  z-index: 100;
  width: 100%;
}

.year-select,
.search-input-container {
  background-color: #fff;
  padding: 15px;
  box-shadow: 2px 2px 1px rgb(0,0,0,0.1);
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.search-input-container {
  display: flex;
  justify-content: space-between;
}

.search-input {
  border: none;
  width: 150px;
}

.search-input-container span {
  color: #32bebe;
}

// .view-toggle {
//   position: absolute;
//   right: 40px;
//   top: 100px;
//   z-index: 100;
// }
.toggle-view > span {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.view-toggle .material-icons {
  cursor: pointer;
  font-size: 40px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  margin: 5px;
}

.card-container {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  // justify-content: space-between;
}

.card-outer {
  flex-basis: 95%;
}

.circuit-card {
  border-radius: 3px;
  margin: 5px;
  box-shadow: 2px 2px rgb(0,0,0,0.01);
}

.circuit-card-image-container {
  height: 200px;
  background-color: #ececec;
}

.circuit-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.circuit-card-info {
  padding: 16px;
  background-color: #fff;
}

.circuit-card-info h4 {
  font-size: 18px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo-container img {
    height: 40px;
  }
  .logo-container h2 {
    font-size: 24px;
  }
  .navItem {
    font-size: 16px;
    margin: 5px 25px;
  }
  .card-outer {
    flex-basis: 48%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-outer {
    flex-basis: 32%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}